@model TechnicalAssessment.Data.Models.PersonalInformation

@{
    ViewData["Title"] = "Edit";
}

<h2>Personal Information</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress"> Email Address</label>
                <input asp-for="EmailAddress" type="email" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ContactNumber">Contact Number</label>
                <input asp-for="ContactNumber" type="text" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlternativeContactNumber">Alternative Contact Number</label>
                <input asp-for="AlternativeContactNumber" type="text" class="form-control" />
                <span asp-validation-for="AlternativeContactNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address">Address</label>
                <textarea rows="5" cols="100" asp-for="Address" type="text" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MethodOfContact"> Method of Contact</label>
                <select asp-for="MethodOfContact" class="form-control">
                    <option selected disabled>-- Method of Contact --</option>
                    <option>Email</option>
                    <option>Phone</option>
                </select>
                <span asp-validation-for="MethodOfContact" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProfileImageUrl">Profile Image</label>
                <input asp-for="ProfileImageUrl" type="file" class="form-control" />
                <span asp-validation-for="ProfileImageUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="JoiningDate">Joining Date</label>
                <input asp-for="JoiningDate" class="form-control" />
                <span asp-validation-for="JoiningDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Branch.Id">Branch</label>
                <div>
                    @Html.DropDownList("BranchID", String.Empty)
                    @Html.ValidationMessageFor(model => model.Branch.Id)
                </div>
                <span asp-validation-for="Branch.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

